[Unit]
Before=sleep.target

[Service]
User=daniel
Type=oneshot
Environment="PATH=/home/daniel/.local/bin"
ExecStart=/bin/sh -c '/home/daniel/repos/DanielViberg/ActivityLogger/stop.sh || true'
RemainAfterExit=false
ExecStartPost=sleep 1 

[Install]
WantedBy=default.target
