[Desktop Entry]
Type=Application
Exec=/home/daniel/repos/DanielViberg/ActivityLogger/worker.sh &
Hidden=false
NoDisplay=fales
X-GNOME-Autostart-enabled=true
Name[en_US]=Activity Logger
Name=Activity Logger